* {
  box-sizing: border-box;
}

body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;

}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  display: flex;
  text-align: center;
  font-variant: small-caps;
  padding: 25px;
  padding-top: 0px;
  color: #fff;
  justify-content: space-between;
}

.mainbackground {
  background-image: url(./assets/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(0, 0, 0);
}

.secondarybackground {
  background-image: url(./assets/background2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}

.maincard {
  background-image: url(./assets/card.png), linear-gradient(175deg, rgba(67, 108, 131, 0.788) 0%, rgba(0, 0, 255, 0.185) 100%);
  background-blend-mode: color-dodge;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 98%;
}

.secondarycard{
  background-image: url(./assets/card2.png), linear-gradient(175deg, rgba(67, 108, 131, 0.788) 0%, rgba(0, 0, 255, 0.185) 100%);
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 98%;
}

.card {
  display: block;
  color: #cacaca;
  font-size: 18px;
  font-variant: small-caps;
  margin: 0 auto;
  max-width: 800px;
  padding: 45px 45px;
}

.score-footer {
  padding: 40px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

footer {
  text-align: end;
  color: #cacaca;
}

#message {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

ul {
  width: 50%;
}

#start,
#end {
  text-align: center;
}

#go-back,
#clear-scores {
  margin: 16px 16px 16px 20px;
  padding: 10px 10px;
  text-align: center;
  width: 300px;
}

#start-button,
#submit-button,
#initials {
  margin: 16px 16px 16px 20px;
  padding: 14px 80px;
  text-align: center;
  width: 39%;
}

button {
  margin: 5px;
  padding: 5px 10px;
  width: 50%;
  border: none;
  background-color: #020a1a;
  opacity: 95%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: #0e9c9c;
  font-size: 22px;
  line-height: 22px;
  text-align: left;
  cursor: pointer;
  transition: all 0.2s ease-out;
  outline: 0.1px solid;
}

button:hover {
  background-color: #000000;
  box-shadow: 0px 0px 20px 0px #fdfdfd inset;
  border: 0.5px solid #9c0e89;
  outline-color: #0e749c;
  outline-style: initial;
  outline-offset: -15px;
  outline-width: 10px;
  color: #28aaf5;
}

a {
  text-decoration: none;
}

.hide {
  display: none;
}

#initials {
  width: 80%;
  border-radius: 10px;
  border: 1px solid black;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 35px;
  font-size: 1.5rem;
  margin-top: 30px;
  margin-bottom: 5px;
  color: whitesmoke;
  background: radial-gradient(circle, rgb(53, 57, 75) 0%, rgba(58, 52, 3, 0.509) 0%, rgba(0,0,0,1) 100%);
}

#score-list {
  display: block;
  width: 100%;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  font-size: 1.5rem;
  margin-top: 30px;
  margin-bottom: 5px;
  border: 1px solid #050505;
  overflow: hidden;
  color: whitesmoke;
  resize: none;
  background: radial-gradient(circle, rgb(53, 57, 75) 0%, rgba(58, 52, 3, 0.509) 0%, rgba(0,0,0,1) 100%);
}

